{% extends 'base/base.html' %}
{% load static %}
{% block title %} Новости - {{ article.name }} {% endblock %}

{% block content %}

<div class="container">
    <br>

<h1><button type="button" class="btn btn-primary">{{ article.category }} </button> {{ article.name }}</h1>


<br>
{{ article.description | safe }}
    <p class="text-muted">create {{ article.created }}</p>
    <br>
    <br>
{% if user.is_active %}
<form method="post">
    {% csrf_token %}
    {{ form.body}}
    <br>
    <button type="submit" class="btn btn-secondary btn-lg btn-block">Отправить</button>
</form>
{% else %}
    <h3>Для того, чтобы прокомментировать Вам, нужно зарегистрироваться на нашем сайте.</h3>
{% endif %}
    <h3>Комментарии:</h3>
    <br>
{% for se in article.comment_article.all %}
    <div class="card-body">
         <h3>{{ se.user }}</h3>
              <p class="card-text">{{ se.body }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-muted"></small>
              </div>
            </div>
    <hr>
    {% endfor %}
</div>



{% endblock %}